<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>

  <%- include('partials/_header') %>

  <main style="margin: 1em;">
    <h3>My URLs</h3>
    <table border=0 cellpadding=2 cellspacing=0 width="80%" align="center" class="table table-hover">
      <thead>
        <tr>
          <th scope="col" width="15%" style="text-align: center;">Short URL</th>
          <th scope="col" width="55%" style="text-align: left;">Long URL</th>
          <th scope="col" width="15%" style="text-align: center;">Edit</th>
          <th scope="col" width="15%" style="text-align: center;">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(let url in urls) { %>
          <tr>
            <td style="text-align: center; vertical-align: middle;"><a href="/u/<%= url %>" target="blank"><%= url %></a></td style="text-align: center;">
            <td style="text-align: left; vertical-align: middle;"><%= urls[url].longURL %></td style="text-align: center;">
            <td align="center" valign="center"> <form method="GET" action="/urls/<%= url %>/edit">
              <input type="submit" name="btnEdit" type="submit" value="Edit" class="btn btn-outline-primary btn-sm">
            </form></td>
           <td style="text-align: center;"> <form method="POST" action="/urls/<%= url %>/delete">
            <input type="submit" name="btnDelete" type="submit" value="Delete" class="btn btn-outline-danger btn-sm">
          </form></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </main>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>